@charset "utf-8";
@import url("./reset.css");
/* 공통 영역 */

.hanwha {
  font-family: var(--hanwha-font);
}
.hanwha_gothic {
  font-family: var(--hanwha-gothic-font);
}
.container {
  margin: 0 auto;
}
.hanwha_font {
  font-family: var(--hanwha-font);
  font-weight: 300;
}
.opacity_box {
  display: block;
  padding-top: 5px;
  margin-top: -5px;
  overflow: hidden;
}
/* 타이틀 텍스트 */

.scroll_text_event span h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
}

.scroll_text_event > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  margin-top: 40px;
  margin-bottom: 60px;
}
.scroll_text_event a {
  width: var(--btn-width);
  height: var(--btn-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-left: 4px;
  opacity: 1;
  cursor: pointer;
}
.scroll_text_event > span a::after {
  content: "";
  font-size: 0;
  width: 320px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    linear-gradient(
      45deg,
      var(--color) calc(var(--angle-gap) - var(--line-gap)),
      transparent calc(var(--angle-gap) - var(--line-gap))
    ),
    linear-gradient(
      -45deg,
      var(--color) calc(var(--angle-gap) - var(--line-gap)),
      transparent calc(var(--angle-gap) - var(--line-gap))
    ),
    linear-gradient(
      135deg,
      var(--color) calc(var(--angle-gap) - var(--line-gap)),
      transparent calc(var(--angle-gap) - var(--line-gap))
    ),
    linear-gradient(
      -135deg,
      var(--color) calc(var(--angle-gap) - var(--line-gap)),
      transparent calc(var(--angle-gap) - var(--line-gap))
    ),
    linear-gradient(90deg, var(--border-color) 0px, transparent 2px),
    linear-gradient(180deg, var(--border-color) 0px, transparent 2px),
    linear-gradient(
      90deg,
      transparent calc(100% - 2px),
      var(--border-color) 100%
    ),
    linear-gradient(
      180deg,
      transparent calc(100% - 2px),
      var(--border-color) 100%
    );
  clip-path: polygon(
    var(--angle-gap) 0,
    calc(var(--btn-width) - var(--angle-gap)) 0,
    100% var(--angle-gap),
    100% calc(var(--btn-height) - var(--angle-gap)),
    calc(var(--btn-width) - var(--angle-gap)) 100%,
    var(--angle-gap) 100%,
    0 calc(var(--btn-height) - var(--angle-gap)),
    0 var(--angle-gap)
  );
}

.scroll_text_event a p {
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
}
.scroll_text_event a p::after {
  content: "";
  font-size: 0;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/logo_icon/icon-btn-arrow.svg");
  float: right;
  margin: 2px 0 0 12px;
}
.scroll_text_event a:hover::after {
  scale: 1.03;
  transition: 0.3s;
}
.scroll_text_event a:hover p::after {
  transform: translateX(8px);
  transition: 0.3s;
}

/* 헤더 */
header {
  width: 100%;
  height: 78px;
  position: fixed;
  z-index: 200;
  transition: 0.5s;
}

header .container {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header .container h1 {
  width: 180px;
  height: 30px;
  margin-top: 24px;
}
#gnb {
  width: fit-content;
  height: fit-content;
  padding-right: 90px;
  line-height: 76px;
}
#gnb > ul {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#gnb > ul > li {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
}
#gnb > ul > li > .hanwha {
  font-weight: 500;
}
#gnb > ul > li > a {
  position: relative;
}
#gnb > ul > li > a > img {
  width: 90px;
  margin-top: 31px;
}
/* gnb li 아래 선 */
#gnb > ul > li > a {
  position: relative;
}

#gnb > ul > li > a::after {
  content: "bar";
  font-size: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 26px;
  left: 0;
  transform: scale(0);
  transition: transform 0.3s ease;
}
#gnb > ul > li > .hanwha::after {
  top: 22px;
}
#gnb > ul > li:last-child > a:after {
  top: 20px;
}
#gnb > ul > li:hover > a::after {
  transform: scale(1);
  transform-origin: 50% 50%;
}

#gnb > ul > li:last-child {
  position: relative;
}
/* 서브메뉴  */

#gnb > ul > li:last-child:hover .sub_menu {
  height: 200px;
}
.sub_menu {
  width: 160px;
  position: absolute;
  height: 0;
  overflow: hidden;
  line-height: 44px;
  transition: 0.5s;
  padding-top: 16px;
}
.sub_menu li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}
.sub_menu li:hover a {
  color: #f37331;
}

/* 오른쪽 언어선택 영역 */
.right_translation {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 28px;
}
.right_translation a {
  font-size: 18px;
  font-weight: 500;
  position: relative;

  margin-bottom: 4px;
}
.right_translation a + a {
  color: #777;
}

.right_translation a::after {
  content: "bar";
  font-size: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 22px;
  left: 0;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.right_translation > a:hover::after {
  transform: scale(1);
  transform-origin: 50% 0%;
}
.right_translation > a + a::after {
  background-color: #777;
}
.menu_btn {
  width: 40px;
  height: 30px;
  display: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 220;
}
.menu_btn span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 32px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
.menu_btn span:first-child {
  transform: translateX(-50%) translateY(11px);
}
.menu_btn span:last-child {
  transform: translateX(-50%) translateY(19px);
}
/* 모바일 버튼 메뉴  */
#mobile_menu {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 199;
}
/* 인트로 섹션 */
.intro_sec {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 210;
  background-color: #000;
}
main {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

/* 메인 비쥬얼 */
.main_sec {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main_sec video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}
.main_sec > .container {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
}

.main_sec > .container .main_title {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0 20px;
}
.main_sec > .container .main_title h2 {
  font-size: 56px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 35px;
}
.main_sec > .container .main_title h2 br {
  display: none;
}
.main_sec > .container .main_title .hanwha_gothic {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
}
/* 메인섹션 라인 */
.line_wrap {
  position: relative;
  top: 86px;
  width: 100%;
  height: 80.9%;
}
.line_box {
  width: 100%;
  height: 100%;
}
.line_out {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f37331 1px, transparent 1px) 0 0,
    linear-gradient(to right, #f37331 1px, transparent 1px) 0 100%,
    linear-gradient(to left, #f37331 1px, transparent 1px) 100% 0,
    linear-gradient(to left, #f37331 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, #f37331 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, #f37331 1px, transparent 1px) 100% 0,
    linear-gradient(to top, #f37331 1px, transparent 1px) 0 100%,
    linear-gradient(to top, #f37331 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 120px 120px;
  opacity: 0.4;
}
.line_in {
  width: 480px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
      90deg,
      #f77d15 20px,
      transparent 20px,
      transparent calc(100% - 20px),
      #f77d15 calc(100% - 20px)
    ),
    linear-gradient(
      90deg,
      #f77d15 20px,
      transparent 20px,
      transparent calc(100% - 20px),
      #f77d15 calc(100% - 20px)
    ),
    linear-gradient(
      180deg,
      #f77d15 20px,
      transparent 20px,
      transparent calc(100% - 20px),
      #f77d15 calc(100% - 20px)
    ),
    linear-gradient(
      180deg,
      #f77d15 20px,
      transparent 20px,
      transparent calc(100% - 20px),
      #f77d15 calc(100% - 20px)
    ),
    linear-gradient(
      90deg,
      transparent calc(50% - 25px),
      #f77d15 calc(50% - 25px),
      #f77d15 calc(50% + 25px),
      transparent calc(50% + 25px)
    ),
    linear-gradient(
      180deg,
      transparent calc(50% - 25px),
      #f77d15 calc(50% - 25px),
      #f77d15 calc(50% + 25px),
      transparent calc(50% + 25px)
    );
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%, 100% 1px, 1px 100%;
  background-position: 0 0, 0 100%, 0 0, 100% 0, 0 50%, 50% 0;
}
/* 라인 왼쪽 텍스트 */
.line_in_left_text {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}
.line_in_left_text span {
  font-size: 12px;
  font-weight: 500;
  color: #f37331;
  letter-spacing: 0.8px;
}
.line_in_left_text span::before {
  content: "";
  font-size: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #f37331;
  float: left;
  margin-top: 6px;
  margin-right: 8px;
}
/* 라인 오른쪽 텍스트 */
.line_in_right_text {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  width: 240px;
  direction: rtl;
}
.line_in_right_text span {
  display: block;
  width: 0;
  overflow: hidden;
  transform: scaleX(1);
  transform-origin: right;
  font-size: 12px;
  font-weight: 400;
  color: #f37331;
  letter-spacing: 1.1px;
  text-align: right;
}
.line_in_right_text span:nth-child(1) {
  margin-bottom: 20px;
}

.line_in_right_text span:nth-child(3) {
  line-height: 1.5;
}

.effect_box {
  position: relative;
  z-index: 2;
  width: 110px;
  height: 18px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  background: #f37331;
}
.effect_box > p {
  width: 0;
  overflow: hidden;
  transform: translateX(-8px) scaleX(1);
  transform-origin: right;
}

/* 라인 오른쪽 하단 이미지 */
.line_in_bottom_right_img {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
}
.line_in_bottom_right_img img {
  border: 1px solid rgba(243, 115, 49, 0.3);
  padding: 4px;
}
/* 메인섹션 하단  */
.main_bottom_logo {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 35px;
  left: 40px;
  pointer-events: none;
}
.main_bottom_scroll_text {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.main_bottom_scroll_text span {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.sticky {
  width: 143px;
  position: absolute;
  right: 40px;
  top: 0;
}
.sticky_box {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
}
.bottom_sticky_icon {
  bottom: 26px;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 24px;
}
.bottom_sticky_icon p {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.bottom_sticky_icon span {
  width: 48px;
  height: 48px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom_sticky_icon span img {
  width: 42px;
  height: 42px;
  transition: 0.3s ease-out;
}
.bottom_sticky_icon:hover span img {
  transform: rotate(270deg);
}
/* 섹션1 로켓 */
.sec1 {
  height: 200vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 0;
  padding-top: 480px;
}
.bg_wrap {
  overflow: hidden;
}
.sec1_space_bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/section_main_bg.webp) no-repeat 50% 0/100%;
  z-index: 1;
}
.sec1_space_bg > img {
  width: 100%;
}
.sec1_main_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/sec1/launch-bg.webp) no-repeat 50% 0/100%;
  z-index: 2;
  mix-blend-mode: lighten;
}
.sec1_main_img::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, transparent, #000, transparent);
}

/* sec1 타이틀 */

.sec1_title {
  width: fit-content;
  position: sticky;
  display: flex;
  top: 35%;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
  margin-left: 80px;

  z-index: 3;
}
.sec1_title span h2 br {
  display: none;
}
.sec1_title > p .mobile_br {
  display: none;
}
/* 767px 타이틀 */
.mobile_title {
  display: none;
}

/* 섹션2 */
.sec2 {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  background-color: #000;
  margin-top: 0px;
}
.sec2_space_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: url(../img/section_main_bg.webp) no-repeat 50% 0/100%;
}
.sec2_video_wrap {
  width: min(800px, 40vw);
  height: min(800px, 40vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec2_video_wrap video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* 겹쳐진 지구 비디오 */
.sec2_video_wrap video:first-child {
  top: 51%;
  left: 51.2%;
  width: 105%;
  z-index: 10;
}
.sec2_video_wrap video:last-child {
  opacity: 9;
}

/* sec2 타이틀 */

.sec2_title {
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 80px;
  z-index: 10;
}
.sec2_title p .mobile_br {
  display: none;
}
/* 섹션3 */
.sec3 {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: -200px;
  top: 0;
  background-color: #000;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
}
.sec3_space_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: url(../img/section_main_bg.webp) no-repeat 50% 0/100%;
}
.sec3_space_main_bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 125%;
  background: url("../img/sec3/sec3_img1.webp") no-repeat bottom / 100%;
}
/* sec3 타이틀 */

.sec3_title {
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: -150px;
  z-index: 10;
  margin-left: 80px;
}
.sec3_title > p .mobile_br {
  display: none;
}
/* 섹션4  */
.sec4 {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 408px;
  top: 0;
  background-color: #000;
  overflow: hidden;
}
.sec4 .container {
  width: 100%;
  height: 100%;
}
.sec4_space_wrap {
  width: 300vw;
  height: 300vw;
  border-radius: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 25%;
  left: -70%;
  box-sizing: border-box;
}
.sec4_space_wrap div {
  width: 50px;
  height: 50px;
  position: relative;
}
.mars {
  background: url("../img/sec4/sec3_space1.webp");
  background-size: 50px 50px;
  top: 4%;
  left: 29%;
  z-index: 4;
}
.mars::after {
  content: "";
  font-size: 0;
  display: block;
  width: 58px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec4_space_wrap div span {
  font-size: 8px;
  font-weight: 300;
  color: #f37331;
  position: relative;
  top: 3px;
  left: 66px;
  letter-spacing: 1.6px;
}
.sec4_space_wrap div span::before {
  content: "";
  font-size: 0;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #f37331;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -16px;
}
.sec4_space_wrap div span::after {
  content: "";
  font-size: 0;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(243, 115, 49, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -20px;
}
.moon {
  background: url("../img/sec4/sec3_space2.webp");
  background-size: 54px 54px;
  top: -1.18%;
  left: 44.8%;
  z-index: 4;
}
.moon::after {
  content: "";
  font-size: 0;
  display: block;
  width: 54px;
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 54%;
  transform: translate(-50%, -50%);
}
.sec4_space_wrap .moon span {
  top: 13px;
  left: 69px;
}
/* 섹션4  텍스트 타이틀*/

.sec4_text_wrap {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec4_text_2 .opacity_box h2,
.sec4_text_3 .opacity_box h2 {
  line-height: 1.8;
}
.sec4_text_1 {
  width: fit-content;
  margin-top: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec4_text_2 {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.sec4_text_3 {
  width: 100%;
  margin-top: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sec4_text_2 .opacity_box h2 {
  font-size: 31px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 1.1px;
}
.sec4_btn {
  width: fit-content;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}
.sec4_mobile_title {
  display: none;
}
.sec4_mobile_title_btn {
  display: none;
}
/*  섹션 5 */
.sec5 {
  width: 100%;
  height: max(115vw, 2000px);
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.sec5_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/sec5/sec5_img1.webp") no-repeat 50% 0/100%;
}
.sec5_bg::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, transparent, #000, transparent);
}
.sec5_title {
  width: 100%;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.sec5_title h2 br {
  display: none;
}
.sec5_title > p {
  font-size: 20px;
  margin-top: 80px;
}

.sec5_btn {
  width: fit-content;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}
.sec5_mobile_title {
  display: none;
}

/*  섹션 6  */
.sec6 {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}
.sec6_bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.sec6_bg .sec6_video_box {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.sec6_text_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.bg_text_box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg_text_item {
  position: absolute;
}

.bg_text_item a h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 18px;
  margin-left: 14px;
}
.bg_text_item a p {
  font-size: 15px;
  font-weight: 500;
  margin-left: 14px;
  color: #b3b3b3;
}
.bg_text_item::before {
  content: "";
  font-size: 0;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: -16px;
}
.bg_text_item::after {
  content: "";
  font-size: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: -23px;
}
.sec6_text {
  width: fit-content;
  height: fit-content;
  position: absolute;
}
.bg_text_box .bg_text_item:nth-child(1) {
  top: 48.6%;
  left: 20%;
}
.bg_text_box .bg_text_item:nth-child(2) {
  top: 17.3%;
  left: 33.8%;
}
.bg_text_box .bg_text_item:nth-child(3) {
  top: 20.4%;
  left: 71.4%;
}
.bg_text_box .bg_text_item:nth-child(4) {
  top: 63.1%;
  left: 72.3%;
}
.bg_text_box .bg_text_item:nth-child(5) {
  top: 79.5%;
  left: 32%;
}
.sec6_title {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}
.sec6_title h2 {
  font-size: 80px;
  font-weight: 400;
  font-family: var(--hanwha-font);
  padding-top: 18px;
  letter-spacing: 1.3px;
  white-space: nowrap;
}
.sec6_title p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 8px;
}
/* 푸터 */
footer {
  width: 100%;
  height: fit-content;
  background-color: #000;
}
.top_menu_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
}
.icon_box {
  width: fit-content;
  height: fit-content;
}
.icon_box a img {
  height: 48px;
  margin-right: 36px;
}
.menu_box_wrap {
  width: 37%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.menu_box {
  width: 100%;
  height: fit-content;
}
.menu_box_top {
  display: flex;
  justify-content: space-between;
}
.menu_box span {
  font-size: 12px;
  font-family: var(--hanwha-font);
}
.menu_box a p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.menu_box a img {
  height: 14px;
}
.menu_box > p {
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: 120px;
}
.menu_box > p + p {
  color: #666;
  margin-bottom: 40px;
  margin-top: 0px;
}
.menu_box > p + p span {
  font-size: 12px;

  font-family: var(--hanwha-font);
}

.bottom_logo {
  width: 100%;
  height: fit-content;
  padding: 40px 40px 20px 40px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
}
.bottom_logo::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  content: "";
  background: linear-gradient(
    to right,
    #333,
    #333 40px,
    #fff 40px,
    #fff 48px,
    #333,
    48px,
    #333 max(62.4%, 100% - 724px),
    #fff max(62.4%, 100% - 724px),
    #fff calc(max(62.4%, 100% - 724px) + 8px),
    #333,
    calc(max(62.4%, 100% - 724px) + 8px),
    #333 calc(100% - 48px),
    #fff calc(100% - 48px),
    #fff calc(100% - 40px),
    #333,
    calc(100% - 40px),
    #333
  );
}
.bottom_logo a img {
  width: 50%;
  max-width: 974px;
}
